/*colores: #FDF322 #000008 #426FEF #C308B7 #F93A8E */

body {
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
}
.btn {
  background: #eb94d0;
  background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
  background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 3px 2px 1px #9daef5;
  -webkit-box-shadow: 6px 5px 24px #666666;
  -moz-box-shadow: 6px 5px 24px #666666;
  box-shadow: 6px 5px 24px #666666;
  font-family: Arial;
  color: #fafafa;
  font-size: 15px;
  padding: 8px;
  text-decoration: none;
}
.btn:hover {
  background: #2079b0;
  background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
  background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
  text-decoration: none;
}

#buscador {
  font-family: "Bungee Shade";
  font-size: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(img/background.jpg);
  color: white;
  background-size: cover;
}

#contentAlbums50 h1 {
  text-align: center;
  color: white;
}

#contentAlbums50 .albums50 {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  text-align: center;
}

#contentAlbums50 .albums50 .cards {
  border: 1px solid #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#contentAlbums10 h1 {
  text-align: center;
  color: white;
}

#contentAlbums10 .albums10 {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;

  display: grid;

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  text-align: center;
}

#contentAlbums10 .albums10 .cards {
  border: 1px solid #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/*RESULTADOS*/
/*ARTISTA*/

#datosArtista {
  background-color: #8d499e;
  background-image: url("fondoresult.png");
  background-repeat: repeat;
  background-size: cover;
}

#nombres{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#logo {
  width: 200px 280px;
  padding-top: 2em; 
}

#artist {
  color: #fdf322;
  font-family: "Righteous";
  padding: 3em 1em 0.3em 1em;
  font-size: 40px;
}

#bio {
  color: #fdf322;
  text-align: justify;
  font-family: "Arial", bold;
  padding: 0em 12em;
  padding-bottom: 1em;
  font-size: 20px;
}

#estilo {
  color: #fdf322;
  text-align: justify;
  padding: 0em 12em;
  padding-bottom: 0.3em;
  font-size: 20px;
}

#genero {
  color: #fdf322;
  text-align: justify;
  padding: 0em 12em;
  padding-bottom: 0.3em;
  font-size: 20px;
  display: none;
}

#year {
  color: #fdf322;
  text-align: justify;
  padding: 0em 12em;
  padding-bottom: 0.3em;
  font-size: 20px;
}

#pais {
  color: #fdf322;
  text-align: justify;
  padding: 0em 12em;
  padding-bottom: 0.3em;
  font-size: 20px;
}

#redes {
  color:#ffd000;
  text-align: justify;
  padding-top: 1em;
  padding-bottom: 1.5em;
  font-size: 35px;
  display: flex; 
  flex-direction: row;
  justify-content: center;
}

/*GENERO*/
#genrePrinted {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-between;
  background-color: #540a66;
  background-image: url("fondoresult.png");
  background-repeat: repeat;
  background-size: cover;
}

#genrePrinted h1 {
  color: #426fef;
  text-align: center;
  font-family: "Bungee Shade";
  font-size: 38px;
}

#genrePrinted h2 {
  color: #fdf322;
  font-family: "Righteous";
  padding: 2em 1em;
}

#genrePrinted img {
  width: 150px;
  padding-left: 2em;
  padding-top: 4em;
  padding: 3px;
  border: 3px solid #426fef;
  background-color: #ff0;
  border-radius: 50%;
}

#genrePrinted p {
  color: #fdf322;
  text-align: justify;
  font-family: "Arial";
  padding: 0em 12em;
  padding-bottom: 3em;
  font-size: 20px;
}

/*ESTADO DE ANIMO*/
#moodPrinted {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-between;
  background-color: #540a66;
  background-image: url("fondoresult.png");
  background-repeat: repeat;
  background-size: cover;
}

#moodPrinted h1 {
  color: #f93a8e;
  text-align: center;
  font-family: "Bungee Shade";
  font-size: 38px;
}

#moodPrinted h2 {
  color: #fdf322;
  font-family: "Righteous";
  padding: 2em 1em;
}

#moodPrinted img {
  width: 150px;
  padding-left: 2em;
  padding-top: 4em;
  padding: 3px;
  border: 3px solid #426fef;
  background-color: #ff0;
  border-radius: 50%;
}

#moodPrinted p {
  color: #fdf322;
  font-family: "Arial";
  text-align: justify;
  padding: 0em 12em;
  padding-bottom: 3em;
  font-size: 20px;
}

.danger {
  background-color: crimson;
  color: #fafafa;
  padding: 10px;
  border-radius: 5px;
  font-family: verdana;
  font-size: 20px;
}
